* {
  /* border: 1px solid black; */
  margin: 0px;
  padding: 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  /* list-style-type: none; */
}

header {
  display: flex;
  justify-content: space-between;
  background-color: antiquewhite;
  padding: 20px;
  margin-bottom: 30px;
}
nav {
  border-left: 2px solid black;
  font-size: 28px;
  padding: 20px;
  font-weight: bold;
}
h1 {
  padding: 20px;
}
main {
  width: 800px;
  margin: auto;
}
img {
  border-radius: 40px;
  width: 800px;
  margin: auto;
}
.box-header {
  /* border: 1px black solid; */
  font-size: 30px;
}
.description {
  border: 1px black solid;
  padding: 12px;
  text-align: center;
  padding-bottom: 24px;
}
